<p>
  <%= t('.copyright', :year => Time.now.year,
                      :site_name => Refinery::Core.site_name) %>
                      <br>
  Designed by <a href="http://themachineelf.com">The Machine Elf, LLC
</p>
