 <!-- start: Footer -->
<!--   <div id="footer"> -->
    
    <!-- start: Container -->
 <!--    <div class="container"> -->
  
      <!-- start: Row -->
 <!--      <div class="row-fluid"> -->

        <!-- start: About -->
        <!-- <div class="span3">
          
          <h3>creativeLabs</h3>

          <p>
            <i class="fa-icon-map-marker"></i> 30 South Park Avenue
          </p>
          <p> 
            <i class="fa-icon-map-marker"></i> San Francisco, CA 94108, USA
          </p>  
          <p> 
            <i class="fa-icon-phone"></i> Phone: (123) 456-7890
          </p>
          <p> 
            <i class="fa-icon-print"></i> Fax: +08 (123) 456-7890
          </p>
          <p>
            <i class="fa-icon-envelope"></i> Email: contact@companyname.com
          </p>
          <p>
            <i class="fa-icon-globe"></i> Web: companyname.com
          </p>
            
        </div> -->
        <!-- end: About -->

        <!-- start: Latest Tweets -->
        <!-- <div class="span3">
          
          <h3>Latest Tweets</h3>
          
          <ul id="twitter">
            
          </ul>

          <div class="clear"></div>
          
          
        </div> -->
        <!-- end: Latest Tweets -->

        <!-- start: Photo Stream -->
        <!-- div class="span3">
          
          <h3>Flickr Photo Stream</h3>
          <div class="flickr-widget">
            <script type="text/javascript" src="http://www.flickr.com/badge_code_v2.gne?count=12&display=latest&size=s&layout=x&source=user&user=29609591@N08"></script>
            <div class="clear"></div>
          </div>
          
        </div> -->
        <!-- end: Photo Stream -->
        
        <!-- start: Follow Us -->
        <!-- <div class="span3">
          
          <h3>Follow Us</h3>
          
          <a href="#" class="social-dribbble"></a>
          <a href="#" class="social-twitter"></a>
          <a href="#" class="social-flickr"></a>
          <a href="#" class="social-facebook"></a>
          <a href="#" class="social-linkedin"></a>
          <a href="#" class="social-vimeo"></a>
          <a href="#" class="social-youtube"></a>
          <a href="#" class="social-delicious"></a>
          <a href="#" class="social-rss"></a>
          <a href="#" class="social-picassa"></a>
          <a href="#" class="social-deviantart"></a>
          <a href="#" class="social-technorati"></a>
          <a href="#" class="social-stumbleupon"></a>
          <a href="#" class="social-appstore"></a>
          <a href="#" class="social-paypal"></a>
          <a href="#" class="social-myspace"></a>
          <a href="#" class="social-pinterest"></a>
          <a href="#" class="social-soundcloud"></a>
          <a href="#" class="social-behance"></a>
          <a href="#" class="social-instagram"></a>
          <a href="#" class="social-googleplus"></a>
  
        </div> -->
        <!-- end: Follow Us -->
        
     <!--  </div> -->
      <!-- end: Row -->
    
<!--     </div> -->
    <!-- end: Container  -->  

<!--   </div> -->
  <!-- end: Footer -->
  
  <!-- start: Under Footer -->
  <div id="under-footer">
    
    <!-- start: Container -->
    <div class="container">
      
      <!-- start: Row -->
      <div class="row-fluid">

        <!-- start: Under Footer Logo -->
        <!-- <div class="span2">
          <div id="under-footer-logo">
            <a class="brand" href="#">tabula</a>
          </div>
        </div> -->
        <!-- end: Under Footer Logo -->

        <!-- start: Under Footer Copyright -->
        <div class="span9">
          
          <div id="under-footer-copyright">
            &copy; 2012, <a href="http://gayfacefirstclass.com">Gayface FirstClass</a>. Designed by <a href="http://themachineelf.com">The Machine Elf, LLC</a> 
          </div>
          
        </div>
        <!-- end: Under Footer Copyright -->

        
      
      </div>
      <!-- end: Row -->
      
    </div>  
    <!-- end: Container  -->
    
  </div>
  <!-- end: Under Footer -->  